<div class="content-white-box">
  <div class="cwb-header">
      <h3>Summary</h3>
    
  </div>
  <div class="cwb-content">
    
      <textarea class="loan_summary"></textarea>
      <label class="error error_summary"> This field is required. </label>
    
  </div>
</div><!-- content-white-box -->