<% if @borrowers.empty? %>
	<input type="button" value="Add Borrower" class="button" id="add_new_borrower" style="margin-top:10px; margin-left:10px;">
<% else %>
	<input type="button" value="Add More Borrower" class="button" id="add_new_borrower" style="margin-top:10px; margin-left:10px;">
<% end %>
<div id="all_new_borrowers">
</div>