<div class="content-white-box">
	<div class="cwb-header">
      <h3>Exit Strategy</h3>
     
  </div>
  <div class="cwb-content">
    <textarea class="loan_info_fields" name="_ExitStrategyHowwillyoupaytheloanoff" id="loan_exit_strategy"></textarea>
     <label class="error error_exit_strategy" style="display:none;"> This field is required. </label>
  </div>
</div>