<div class="alert-bar">
    <div class="row">
        <div class="text-center">
            <div class="alear-message"><strong>Alert:</strong> <span>You have 31 compatible lender(s)</span></div>
            <a href="#">Shop Now</a>
            <a href="#" class="btn-shop-later">Shop Later</a>
        </div>
    </div>
</div>

<section class="title-bar">
    <div class="row">
        <img src="/assets/edit-icon.png" class="edit-icon" style="position: absolute; margin-left: -30px; margin-top: 10px;">
        <h1>Pottowattamie Resort B</h1>
        <h3 class="sub-heading">Colombia, Michigan <a href="#"><i class="fa fa-pencil"></i></a></h3>
    </div>
</section><!-- banner-section -->

<section class="content-section">
    <div class="container">
        <div class="row">
            <div class="columns small-12">
                <ul class="inner-nav ">
                    <li class="active"><a href="#">Overview</a></li>
                    <li><a href="#">Borrowers</a></li>
                    <li><a href="#">Collateral</a></li>
                    <li><a href="#">Exit Strategy</a></li>
                    <li><a href="#">Pictures</a></li>
                    <li><a href="#">Documents</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Analysis</a></li>
                </ul>
            </div>
            <div class="columns medium-8">

                <div class="image-upload-section">
                    <a href="#" class="btn-choose-img">Choose Image</a>
                    <a href="#" class="btn-save-img">Save Image</a>
                </div>

                <div class="content-white-box">
                    <div class="cwb-header">
                        <h3>Summary</h3>
                        <div class="cwb-controls">
                            <a href="#" class="cwb-controls-view"><img src="/assets/eye-icon-slash.png"></a>
                            <!-- <a href="#" class="cwb-controls-edit"><i class="fa fa-pencil"></i></a> -->
                        </div>
                    </div>
                    <div class="cwb-content">
                            <textarea>The borrower is seeking a loan for three primary purposes: To payoff a maturing private loan secured by some of the subject collateral, eliminating a problematic co-guarantor once the loan is paid off, and securing construction money to build an 8-plex.
                            The Resort is currently a 15.5-acre campus with unique Lake Michigan Beach frontage, where a 12-plex and 10-plex currently sit. The resort and other assets are centrally located in Coloma, MI (http://www.city-data.com/city/Coloma-Michigan.html)-- a small, heavily seasonal area that attracts Summer recreation seekers and Winter solitude. Coloma is the first town by way of Southwest entry to the state of Michigan along the coast.
                            The borrower has an extensive portfolio of assets that have been aggregated to date. Over the past two years, the borrower experienced a challenging, expensive divorce while relying on a new business partner that harmed his otherwise stellar position and net worth. During this time period, the borrower took a private loan to help fund ventures with the new partner and settle (partially) with his x-wife. That loan is now due. The timing is also such that the borrower seeks to build another structure (8-units) adjacent to the other two structures on the "resort" property. After a 2012 fire burned the cabins on the 15.5 acres, thus striking the main namesake for the resort, the borrower turned attention to these assets, many of which were sold to private parties, four of which were retained in a rental pool by the borrower.</textarea>
                    </div>
                </div><!-- content-white-box -->

                <div class="content-white-box">
                    <div class="cwb-header">
                        <h3>Transaction Information</h3>
                        <div class="cwb-controls">
                            <a href="#" class="cwb-controls-view"><img src="/assets/eye-icon.png"></a>
                            <!-- <a href="#" class="cwb-controls-edit"><i class="fa fa-pencil"></i></a> -->
                        </div>
                    </div>
                    <div class="cwb-content">
                        <div class="row">
                            <div class="columns medium-6 border-right">
                                <div class="trans-info-item">
                                    <strong>Transaction Type:</strong>
                                    <p><input type="text" value="Refinance"></p>
                                    <div class="tii-controls">
                                        <a href="#" class="cwb-controls-view"><img src="/assets/eye-icon.png"></a>
                                        <!-- <a href="#" class="cwb-controls-edit"><i class="fa fa-pencil"></i></a> -->
                                    </div>
                                </div>
                                <div class="trans-info-item">
                                    <strong>Maturity Date:</strong>
                                    <p><input type="text" value="03-01-2016"></p>
                                    <div class="tii-controls">
                                        <a href="#" class="cwb-controls-view"><img src="/assets/eye-icon.png"></a>
                                        <!-- <a href="#" class="cwb-controls-edit"><i class="fa fa-pencil"></i></a> -->
                                    </div>
                                </div>
                                <div class="trans-info-item">
                                    <strong>Submitted By Broker:</strong>
                                    <p><input type="text" value="N/A"></p>
                                    <div class="tii-controls">
                                        <a href="#" class="cwb-controls-view"><img src="/assets/eye-icon.png"></a>
                                        <!-- <a href="#" class="cwb-controls-edit"><i class="fa fa-pencil"></i></a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="columns medium-6">
                                <div class="trans-info-item">
                                    <strong>Free and Clear:</strong>
                                    <p><input type="text" value="No"></p>
                                    <div class="tii-controls">
                                        <a href="#" class="cwb-controls-view"><img src="/assets/eye-icon.png"></a>
                                        <!-- <a href="#" class="cwb-controls-edit"><i class="fa fa-pencil"></i></a> -->
                                    </div>
                                </div>
                                <div class="trans-info-item">
                                    <strong>Cash To Contribute::</strong>
                                    <p><input type="text" value="$3,520,000.00"></p>
                                    <div class="tii-controls">
                                        <a href="#" class="cwb-controls-view"><img src="/assets/eye-icon.png"></a>
                                        <!-- <a href="#" class="cwb-controls-edit"><i class="fa fa-pencil"></i></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- content-white-box -->

                <div class="content-white-box">
                    <div class="cwb-header">
                        <h3>Use of Funds</h3>
                        <div class="cwb-controls">
                            <a href="#" class="cwb-controls-view"><img src="/assets/eye-icon.png"></a>
                            <!-- <a href="#" class="cwb-controls-edit"><i class="fa fa-pencil"></i></a> -->
                        </div>
                    </div>
                    <div class="cwb-content">
                        <table border="0" cellpadding="0" cellspacing="0" class="table-use-fund">
                            <tr>
                                <td><strong>Free Clear</strong></td>
                                <td><strong>Description</strong></td>
                                <td><strong>Amount</strong></td>
                                <td><strong>Beneficiary</strong></td>
                            </tr>
                            <tr>
                                <td><input type="input" value="No"></td>
                                <td><input type="input" value="Other"></td>
                                <td><input type="input" value=""></td>
                                <td><input type="input" value="2500000"></td>
                            </tr>
                            <tr>
                                <td><input type="input" value="No"></td>
                                <td><input type="input" value="Payoff"></td>
                                <td><input type="input" value="$3,000,000.00"></td>
                                <td><input type="input" value="Barnett Capital"></td>
                            </tr>
                            <tr>
                                <td><input type="input" value="No"></td>
                                <td><input type="input" value="Payoff"></td>
                                <td><input type="input" value="$80,000.00"></td>
                                <td><input type="input" value="Warehouse"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><strong><input type="input" value="Lender"></strong></td>
                            </tr>
                            <tr>
                                <td><input type="input" value="No"></td>
                                <td><input type="input" value="Purchase"></td>
                                <td><input type="input" value="2000,000.00"></td>
                                <td><input type="input" value="Tax Buyer"></td>
                            </tr>
                            <tr>
                                <td><input type="input" value="No"></td>
                                <td><input type="input" value="Payoff"></td>
                                <td><input type="input" value="$3000,000.00"></td>
                                <td><input type="input" value="Primary 2nd"></td>
                            </tr>
                            <tr>
                                <td><input type="input" value="No"></td>
                                <td><input type="input" value="Construction"></td>
                                <td><input type="input" value="$1500,000.00"></td>
                                <td><input type="input" value="Resort 8-plex"></td>
                            </tr>
                        </table>
                    </div>
                </div><!-- content-white-box -->

            </div>
            <div class="columns medium-4 sidebar">
                <div class="sidebar-item">
                    <div class="sidebar-item-header">Publish</div>
                    <div class="sidebar-item-content">
                        <ul class="publish-btns">
                            <li>
                                <a href="#">
                                    <span class="p-thumb"><img src="/assets/p-ico-001.png"></span>
                                    <span class="p-title">Preview</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="p-thumb"><img src="/assets/p-ico-002.png"></span>
                                    <span class="p-title">Request Docs</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="p-thumb"><img src="/assets/p-ico-003.png"></span>
                                    <span class="p-title">Share</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="p-thumb"><img src="/assets/p-ico-004.png"></span>
                                    <span class="p-title">Shop Loan</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="sidebar-item">
                    <div class="sidebar-item-header">Highlights</div>
                    <div class="sidebar-item-content">
                        <table border="0" cellpadding="0" cellspacing="0" class="highlights-table">
                            <tr>
                                <td>Net Loan Amount Requested:</td>
                                <td><input type="text" value="$5,380,000.00"></td>
                                <td>
                                    <a href="#" class="cwb-controls-view"><img src="/assets/eye-icon.png"></a>
                                    <!-- <a href="#" class="cwb-controls-edit"><i class="fa fa-pencil"></i></a> -->
                                </td>
                            </tr>
                            <tr>
                                <td>Net Loan Amount Requested:</td>
                                <td><input type="text" value="$5,380,000.00"></td>
                                <td>
                                    <a href="#" class="cwb-controls-view"><img src="/assets/eye-icon.png"></a>
                                    <!-- <a href="#" class="cwb-controls-edit"><i class="fa fa-pencil"></i></a> -->
                                </td>
                            </tr>
                            <tr>
                                <td>Net Loan Amount Requested:</td>
                                <td><input type="text" value="$5,380,000.00"></td>
                                <td>
                                    <a href="#" class="cwb-controls-view"><img src="/assets/eye-icon.png"></a>
                                    <!-- <a href="#" class="cwb-controls-edit"><i class="fa fa-pencil"></i></a> -->
                                </td>
                            </tr>
                            <tr>
                                <td>Net Loan Amount Requested:</td>
                                <td><input type="text" value="$5,380,000.00"></td>
                                <td>
                                    <a href="#" class="cwb-controls-view"><img src="/assets/eye-icon.png"></a>
                                    <!-- <a href="#" class="cwb-controls-edit"><i class="fa fa-pencil"></i></a> -->
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- Content-section -->