<div class="content-white-box">
	<div class="cwb-header">
      <h3>Exit Strategy</h3>
     
  </div>
  <div class="cwb-content">
    <textarea class="loan_info_fields" name="_ExitStrategyHowwillyoupaytheloanoff"></textarea>
  </div>
</div>