<div class="content-white-box">
  <div class="cwb-header">
      <h3>Contact Information</h3>
  </div>
  <div class="cwb-content">
    <div class="row">
      <div class="columns medium-12" id="contact_FirstName" <% if @contact_tab.custom_fields.include? "FirstName"%> style="display:none;" <% end %>>
        <div class="trans-info-item">
          <strong>First Name:</strong>
          <p><input  name="FirstName" type="text" class="loan_info_fields"></p>
        </div>
      </div>

      <div class="columns medium-12" id="contact_Email"  <% if @contact_tab.custom_fields.include? "Email"%> style="display:none;" <% end %>>
        <div class="trans-info-item">
          <strong>Email:</strong>
          <p><input  name="Email" type="text" class="loan_info_fields"></p>
        </div>
      </div>

      <div class="columns medium-12"  id="contact_Phone"  <% if @contact_tab.custom_fields.include? "Phone"%> style="display:none;" <% end %>>
        <div class="trans-info-item">
          <strong>Phone:</strong>
          <p><input name="Phone" type="text" class="loan_info_fields"></p>
        </div>
      </div>
     

     

    </div>
  </div>
</div><!-- content-white-box -->