<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div class="title-bar">
    <div class="row">
        <h1>Four Oaks Condomiums</h1>
    </div>
</div><!-- title bar-section -->
<div class="sub-title-bar">
	<div class="row">
		<p>Category:<strong> Private Real Estate Loan</strong></p>
		<p>Location:<strong> San Antonio, TX</strong></p>
	</div>
</div>
<div class="content-area">
	<div class="fixedsidebar">
		<div class="row">
			<div class="columns medium-4 medium-offset-8">
				<div class="lenderpage-sidebar">
					<div class="highlights">
						<div class="highlights-header">
							<img src="../assets/search-icon.png">
							<h3>Highlights</h3>
						</div>
						<div class="highlights-content">
							<ul>
								<li>
									<label>Loan Amount</label>
									<span>$7,000,000.00</span>
								</li>
								<li>
									<label>Value</label>
									<span>$12,500,000.00</span>
								</li>
								<li>
									<label>Term Length: </label>
									<span>24</span>
								</li>
								<li>
									<label>Location:</label>
									<span>San Antonio, TX</span>
								</li>
								<li>
									<label>Expected Close:</label>
									<span>2016-02-05</span>
								</li>
								<li>
									<label>Lending Category:</label>
									<span>Private Real Estate Loan</span>
								</li>
								<li>
									<label>Loan Type:</label>
									<span>Commercial</span>
								</li>
								<li>
									<label>Transaction Type:</label>
									<span>Purchase</span>
								</li>
							</ul>
							<div class="columns small-6 ltv">
								LTV:
								<div class="small-12 text-center border-right"><img src="../assets/ltv-img.jpg"></div>
							</div>
							<div class="columns small-6 lps-h-location">
								Location:
								<div class="small-12 text-center"><img src="../assets/location-img.jpg"></div>
							</div>
						</div>
					</div>
					<div class="action-btns">
						<a href="#" class="btn-im-interested">I'm Interested</a>
						<a href="#" class="btn-decline-offer">Decline Offer</a>
					</div>
				</div>
			</div>
		</div>
	</div><!-- fixedsidebar -->
	<div class="row">
		<div class="columns medium-8">
			<div id="owl-demo" class="owl-carousel">
			    <div class="item"><img src="../assets/lenders-img.jpg"></div>
			    <div class="item"><img src="../assets/lenders-img.jpg"></div>
			    <div class="item"><img src="../assets/lenders-img.jpg"></div>
			</div>
			<div class="lender-nav">
				<ul>
					<li class="active"><a href="#">Overview</a></li>
					<li><a href="#">Borrowers</a></li>
					<li><a href="#">Collateral</a></li>
					<li><a href="#">Analysis</a></li>
				</ul>
			</div>
			<div class="content-white-box">
                <div class="cwb-header">
                	<h3>Use of Funds</h3>
                </div>
                <div class="cwb-content">
                	<p class="totalloan-amount"><strong>$7,000,000.00</strong> - Total Loan Amount</p>
                	<div class="small-12 text-center"><img src="../assets/graph-img.jpg"></div>
                </div>
            </div><!-- content-white-box -->

            <div class="content-white-box">
                <div class="cwb-header">
                	<h3>Summary</h3>
                </div>
                <div class="cwb-content">
                	<p>Borrower is seeking a short-term loan to purchase and continue the offering of a 9-story, 86,000 sf high-rise in San Antonio, TX. The high rise is a highly demanded product for young professionals, empty nesters, and executives looking for a second residence in San Antonio. </p>
                	<p>The building was built in 2005 and was not completed at the the time due to the real estate crisis in 2007 and 2008. A food business tycoon from Mexico purchased the property for $8M at that time with the intent to eventually...</p>
                	<a href="">Read More </a>
                </div>
            </div><!-- content-white-box -->

            <div class="content-white-box">
                <div class="cwb-header">
                	<h3>Exit Strategy</h3>
                </div>
                <div class="cwb-content">
                	<p>The borrower will utilize the improvement reserve to build enough units to sell at a margin that is large enough to pay the loan off prior to the completion of the last unit. Outside of sales, once the time restraints of the deal are lifted by the private loan, the borrower will also seek a bank refinance.</p>
                </div>
            </div><!-- content-white-box -->

            <div class="content-white-box">
                <div class="cwb-header">
                    <h3>Transaction Information</h3>
                    <div class="cwb-controls">
                        <a href="#" class="cwb-controls-view"><i class="fa fa-eye"></i></a>
                        <a href="#" class="cwb-controls-edit"><i class="fa fa-pencil"></i></a>
                    </div>
                </div>
                <div class="cwb-content">
                    <div class="row">
                        <div class="small-6 columns border-right">
                            <div class="trans-info-item">
                            	<div class="row">
                                	<div class="small-7 columns"><strong>Transaction Type:</strong></div>
                                	<div class="small-5 columns text-right"><p>Refinance</p></div>
                                </div>
                            </div>
                            <div class="trans-info-item">
                            	<div class="row">
                                	<div class="small-7 columns"><strong>Purchase Price:</strong></div>
                                	<div class="small-5 columns text-right"><p>03-01-2016</p></div>
                                </div>
                            </div>
                            <div class="trans-info-item">
                            	<div class="row">
                                	<div class="small-7 columns"><strong>Cash to contribute:</strong></div>
                                	<div class="small-5 columns text-right text-right"><p>$4,100,000.00</p></div>
                                </div>
                            </div>
                        </div>
                        <div class="small-6 columns">
                            <div class="trans-info-item">
                            	<div class="row">
                                	<div class="small-7 columns"><strong>Contract Closing Date:</strong></div>
                                	<div class="small-5 columns text-right"><p>2016-02-05</p></div>
                                </div>
                            </div>
                            <div class="trans-info-item">
                            	<div class="row">
                            		<div class="small-7 columns"><strong>Rehab Amount:</strong></div>
                                	<div class="small-5 columns text-right"><p>$1,100,000.00</p></div>
                                </div>
                            </div>
                            <div class="trans-info-item">
                            	<div class="row">
                            		<div class="small-7 columns"><strong>Submitted by Broker:</strong></div>
                                	<div class="small-5 columns text-right"><p>No</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- content-white-box -->

            <div class="content-white-box">
                <div class="cwb-header">
                	<h3>Offering Documents</h3>
                </div>
                <div class="cwb-content">
                	<ul class="offering-document">
                		<li>2016-01-26-05-32-LOI-Expo Condos_02-02-16_12:49:18.pdf</li>
                		<li>2016-01-26-05-32-LOI-Expo Condos_02-02-16_12:49:18.pdf</li>
                		<li>2016-01-26-05-32-LOI-Expo Condos_02-02-16_12:49:18.pdf</li>
                		<li>2016-01-26-05-32-LOI-Expo Condos_02-02-16_12:49:18.pdf</li>
                		<li>2016-01-26-05-32-LOI-Expo Condos_02-02-16_12:49:18.pdf</li>
                		<li>2016-01-26-05-32-LOI-Expo Condos_02-02-16_12:49:18.pdf</li>
                	</ul>
                </div>
            </div><!-- content-white-box -->

		</div>
		
	</div> 
</div><!-- content-area -->

<div class="lender-footer">
	<div class="row">
		<div class="columns medium-6">
			<p>&copy; 2016 Funding Database. All Rights Reserved.</p>
		</div>
		<div class="columns medium-6 text-right">
			<img src="../assets/footer-funding-logo.png">
			<img src="../assets/footer-idv-logo.png">
		</div>
	</div>
</div>

<script type="text/javascript">
	
	$('.owl-carousel').owlCarousel({
	    loop:true,
	    margin:10,
	    nav:true,
	    singleItem:true,
	    pagination:false,
	    navigation:true,
	    navText:["<i class='fa fa-angle-up'></i>","<i class='fa fa-angle-up'></i>"],
	    responsive:{
	        0:{
	            items:1
	        },
	        600:{
	            items:1
	        },
	        1000:{
	            items:1
	        }
	    }
	})
</script>