<style>
.br-header{position: relative; float: left; width: 100%; margin-top:10px; }
 form#search_form {position: absolute;right: 0;top: 0; width:96%;}
 .form_wrap{float: left; width: 100%; position: relative;}
 .form_wrap > input#search_btn {
    height: 34px;
    position: absolute;
    right:1px;
    border: none;
    background-image:url("/assets/search.png"); 
    background-repeat: no-repeat;
    top: 1px;
    width: 36px;
    background-position: center;
    cursor: pointer;
}
.text-center {
    margin-right: 216px;
}
.existed
{
    color: red;
}
.more-option, .less-option {
    border: 2px solid;
    border-radius: 50%;
    color: #780f2a;
    float: left;
    font-size: 14px;
    height: 19px;
    padding: 0 2px;
    position: relative;
    top: 0;
    width: 19px;
}
.fa-sort-desc
{
    cursor: pointer;
    float: left;
    margin-top: -3px;
}
.fa-sort-asc
{
    cursor: pointer;
    float: left;
    margin-left: 3px;
    margin-top: 3px;
}
table.list_loans {
    border-spacing: 1px;
    margin-left: -56px;
}
  #loading_img{
  position:fixed;
  top:0px;
  right:0px;
  width:100%;
  height:100%;
  background-color:#666;
  background-image:url('/assets/ajaxloader.gif');
  background-repeat:no-repeat;
  background-position:center;
  z-index:10000000;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}
.brokers_total
{
  width:79%; 
  margin-left:10px;
}

 @media all and (max-width: 861px) and (min-width: 738px){
    .brokers_total
    {
      width:75%; 
      margin-left:10px;
    }
  }

   @media all and (max-width: 737px) and (min-width: 591px){
    .brokers_total
    {
      width:68%; 
      margin-left:10px;
    }
  }

  @media all and (max-width: 590px) and (min-width: 365px){
    .sdel
    {
      width:100%; 
    }
    .trash
    {
      width:9%;
    }
    .brokers_total
    {
      width:85%;
    }
    .planselect
    {
      width:50% !important;
    }
    .searchaccount
    {
      width:46% !important;
    }
  }

  @media all and (max-width: 364px){
    
    .brokers_total
    {
      width:76%;
    }
    .sdel
    {
      width:100%; 
    }
    .trash
    {
      width:9%;
    }
    .planselect
    {
      width:50% !important;
    }
    .searchaccount
    {
      width:46% !important;
    }
    
  }


</style>
<div id="loading_img" style="display:none"></div>
<script type="text/javascript">

    jQuery(function($) { $.extend({
    form: function(url, data, method) {
        if (method == null) method = 'POST';
        if (data == null) data = {};

        var form = $('<form>').attr({
            method: method,
            action: url
         }).css({
            display: 'none'
         });

        var addData = function(name, data) {
            if ($.isArray(data)) {
                for (var i = 0; i < data.length; i++) {
                    var value = data[i];
                    addData(name + '[]', value);
                }
            } else if (typeof data === 'object') {
                for (var key in data) {
                    if (data.hasOwnProperty(key)) {
                        addData(name + '[' + key + ']', data[key]);
                    }
                }
            } else if (data != null) {
                form.append($('<input>').attr({
                  type: 'hidden',
                  name: String(name),
                  value: String(data)
                }));
            }
        };

        for (var key in data) {
            if (data.hasOwnProperty(key)) {
                addData(key, data[key]);
            }
        }

        return form.appendTo('body');
    }
    });

   
 });

$('document').ready(function(){
     $('.single_user').removeAttr('checked');
     $('#search_form').submit(function() {
      return false;
    });

     $('.click_hide').click(function(){
            var c_id=$(this).attr('id');
            var lendr_id=c_id.replace("click_hide_","");
            var div_id="click_"+lendr_id;
            $("#"+div_id).show();
            $("#"+c_id).hide();
            $("#sub_brokers"+lendr_id).hide();

        });

     $("#all_loans").change(function () {
        $(".single_loan").prop('checked', $(this).prop("checked"));
      });

     $('#save_broker').click(function(){
        var status = "true";
        bemail = $('.broker_email').val();
        uname = $('.broker_username').val();        

        bpass = $('.broker_password').val();
        var pcount = bpass.length;
        if(pcount<8)
        {
            $('.too_short').show();
            status = "false";
        }

        if(bemail=="")
        {
            $('.email_empty').show();
            $('.existed').hide();
            status = "false";
        }

        if(uname=="")
        {
            $('.uname_empty').show();
            $('.uexisted').hide();
            status = "false";
        }
        
        this_email = "email="+bemail;
        $.ajax({
            data: this_email,
            type: 'POST',
            url: '/brokers/check_email',
             success:function(response){
                if(response=="no")
                {
                    $('.existed').show();
                    $('.email_empty').hide();
                    status = "false";
                }
                
            }
            
        });

        this_uname = "username="+uname;
        $.ajax({
            data: this_uname,
            type: 'POST',
            url: '/admin/check_uname',
             success:function(response){
                if(response=="no")
                {
                    $('.uexisted').show();
                    $('.uname_empty').hide();
                    status = "false";
                }
                
            }
            
        });
        
        setTimeout(function() {
           // return false;
          if(status=="false")
          {

            return false;
          }
          else
          {
              $('#brokerForm').submit(); 
          } 
      }, 2000);

     });

      // $('.brokers_total').change(function(){
      //   pg = $(this).val();
      //    window.location.replace("<%= @base %>/account_management/?per_page="+pg);
      //  });

      $("#all_brokers").change(function () {
        $(".single_user").prop('checked', $(this).prop("checked"));
      });


      $(".add_broker").click(function(){
        $('#myModal1').foundation('reveal', 'open');
    });

      $(".market_access").change(function(){
         mkt_id = $(this).prop('id');
         id = mkt_id.replace('market_access_', '');  


        if ($(this).is(':checked')) {
          data = "broker_id="+id+"&market_access=1";
        }
        else
        {
          data = "broker_id="+id+"&market_access=0"; 
        }

         $.ajax({
            data: data,
            type: 'POST',
            url: '/account_management/market_access',
             success:function(data){
            
            }
            
        });
      });

      $('.desc_sort').click(function(){
        id = $(this).attr('id');
        value = id.replace('desc_','');
        $('.sort_by').val(value);
        $('.sort_order').val('desc');
        paging('1');
      });

      $('.asc_sort').click(function(){
        id = $(this).attr('id');
        value = id.replace('asc_','');
        $('.sort_by').val(value);
        $('.sort_order').val('asc');
        paging('1');
      });

});

function sort_order(type, field)
{
    $('.sort_by').val(field);
    $('.sort_order').val(type);
    paging('1');
}

function delete_brokers()
{
    var allVals=[];
    $('input[name="select_broker"]:checked').each(function(){
        allVals.push($(this).val());
    });
    if (allVals.length === 0) {
        alert("Please select atleast one broker.");
        return false;
    }
    var data = "&moredata=" + allVals;
    $.ajax({
            data: data,
            type: 'POST',
            url: '/brokers/delete_brokers',
             success:function(data){
                $('#broker_records').html(data);
            }
            
        });

}

function search_fun()
{
    $('#loading_img').show();
    var data=$('#search_form').serialize();
    $.ajax({
            data: data,
            type: 'POST',
            url: '/account_management/search',
            success:function(response){
                $('#broker_records').html(response);
                $('#loading_img').hide();
            }
        });
}

    function delete_users()
    {
        var allVals=[];
        $('input[name="select_loan"]:checked').each(function(){
            allVals.push($(this).val());
        });
        if (allVals.length === 0) {
            alert("Please select atleast one user.");
            return false;
        }
        var data = "&moredata=" + allVals;
        $.ajax({
                data: data,
                type: 'POST',
                url: '/account_management/delete_users',
                 success:function(data){
                    location.reload();
                }
                
            });

    }

    function callAjax(customUrl, divId, formId){
    if(typeof(formId)==='undefined')
    {
        data = '';
    } 
    else     
    {
        data = $('#'+formId).serialize();

    }
    if(typeof(divId)===undefined) divId ='';
     $('#loan_lenders').html('loading...');
    $.ajax({
        type: 'POST',
        url: customUrl,
        data:data,
        success:function(data){
                $('#'+divId).html(data);    
            
            
            if(formId=="lender_loans")
            {
                var a_id=divId.replace('sub_brokers','');
                $('#click_'+a_id).hide();
                $('#click_hide_'+a_id).show();
                $("#sub_brokers"+a_id).show();
            }

                },
        error:function(data){
            alert('Something went wrong.');
            
            },
        dataType: 'html',


    });
        
}

    function paging(pgnum){
        page = pgnum;
        $('#loading_img').show();
        $('.page_number').val(page);
        // sorting_type = $('#sorting').val();
        records = $('.brokers_total').val();
        user_type = $('.user_type').val();
        sort_by = $('.sort_by').val();
        sort_order = $('.sort_order').val();
        if(records=="")
        {
            records = 10;
        }
        var sinput =  $('.search_input').val();
        
        customUrl='/account_management/paging'
        
        if(sinput!="")
        {
            var fdata=$('#search_form').serialize();
            data = fdata+'&records='+records+"&page="+page+"&records="+records+"&user_type="+user_type+"&sort_by="+sort_by+"&sort_order="+sort_order;
            $.ajax({
                    data: data,
                    type: 'POST',
                    url: '/account_management/paging',
                    success:function(response){
                        $('#broker_records').html(response);
                        $('#loading_img').hide();
                    }
                });
        }
        else
        {
            // alert(customUrl);
            data = "&page="+page+"&records="+records+"&user_type="+user_type+"&sort_by="+sort_by+"&sort_order="+sort_order;;
             $.ajax({
                data: data,
                type: 'POST',
                url: customUrl,
                
                success:function(response){
                   $('#broker_records').html(response);
                   $(document).foundation('tooltip');
                   $('#loading_img').hide();
                }

            });   
        }            
    }

</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div class="row" style="text-align:center;">
  <h3>Manage Accounts</h3>
</div>
<div class="row" style="margin-top:25px">
    <div class="small-5 columns sdel">
      <a class="button secondary tiny trash" onclick="if(confirm('Are you sure you want to delete these users?')){delete_users()}" href="javascript:void(0);" style="float:left;">
        <i class="fa fa-trash"></i>
      </a>
	   <select class="brokers_total" onchange="paging('1')">
          <option value="">Number of records</option>
          <option value="10"<% if params[:per_page]=="10"%> selected="selected" <% end %>> 10 </option>
          <option value="20"<% if params[:per_page]=="20"%> selected="selected" <% end %>> 20 </option>
          <option value="50" <% if params[:per_page]=="50"%> selected="selected" <% end %>> 50 </option>
          <option value="100"<% if params[:per_page]=="100"%> selected="selected" <% end %>> 100 </option>
      </select>
    </div>
    <div class="small-3 columns planselect">
      <select class="user_type" onchange="paging('1')">
          <option value="all">All Plans</option>
          <option value="free"> Free </option>
          <option value="business"> Business </option>
          <option value="enterprise"> Enterprise </option>
          <option value="lender"> Lender </option>
      </select>
    </div>

      <input type="hidden" name="sorting" id="sorting" value="recent" style="text">
      <input type="hidden" name="sort_name" id="sort_name" value="recent" style="text">
      <input type="hidden" class="page_number" <% if defined? @page %> value = "<%= @page %>" <% else %> value="1" <% end %>  >
      <input type="hidden" class="sort_by" value="desc">
      <input type="hidden" class="sort_order" value="id">

        

      <div class="small-4 columns searchaccount">  
        <form name="search_form" id="search_form">
            <div class="form_wrap">
                <input type="text" class="search_input" name="search" placeholder="Search" onkeyup="paging('1');">
                <input type="button" id="search_btn" onclick="paging('1');">
                <input type="hidden" name = "total_pages" value="<%= params[:per_page] %>">
            </div>
        </form>
      </div>
</div>

<div class='row' id="broker_records" style="border-top: 7px solid rgb(242, 242, 242);">
    <%= render partial: 'user_records'%>
</div>


 